{% load static %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>Going Out - Hertfordshire Pub Restaurant Guide {% block title %}{% endblock %}</title>
    <link href="//fonts.googleapis.com/css?family=Della Respira&subset=latin" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Bitter&subset=latin" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'goingout/main.css' %}">
    {% block header %}

    {% endblock %}
</head>
<body>

<div id="header">
    <span style="float:right;font-family:GoingOut;font-size:62pt;">G</span>
    <h1>Going Out</h1>
    <p>A Herts pub-restaurant guide</p>

</div>

<div id="content">
    {% block content %}
    {% endblock %}
</div>

{% include "google_analytics.html" %}

</body>

</html>