{% extends "goingout/base.html" %}
{% block header %}
    <style type="text/css">
        @media (min-width: 770px) {#map_canvas { width: 50%; float:right}}
    </style>
    {% include "goingout/google_map.html" %}
{% endblock %}

{% block content %}


<div id="map_canvas"></div>

<div id="venue_detail">

<h2>{{ form.title.value }}</h2>

<p>{{ form.description.value }}</p>
{% if form.website.value %}
    <div>{{ form.website.value|urlizetrunc:50 }}</div>
{% endif %}

<div id="ratings">
    {% for rating in ratings %}
        <div class="rating_item">
        <fieldset class="rating">
        {% for radio in rating reversed %}
            {{ radio.tag }}<label class="{% if forloop.counter0|divisibleby:2 %}full{% else %}half{% endif %}
                                         {{ rating.name }}"
                                {% if forloop.last %} style="display: none" {% endif %}
                                for="{{ radio.id_for_label }}"></label>
        {% endfor %}
        </fieldset>

        </div>
        <div class="rating_label"> {{ rating.name|title }}</div>
    {{ resetcycle }}
    {% endfor %}
</div>

<div id="review">
    {{ form.review.value|safe }}
</div>

</div>

 <!--<fieldset class="rating">
    <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
    <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
    <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
    <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
    <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
    <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
    <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
    <input type="radio" id="star0" name="rating" value="full" /><label style="display: none" class="full" for="star0" title="0 stars"></label>
</fieldset>-->

{% endblock %}