/** Font ideas
Adamina
Bitter
Brawler
Cantora One (h)
Delius
Della Respira h!
*/

body, html {
    margin: 2% 4% 2% 4%;
    font-family: Bitter, Tahoma, sans-serif;
    font-size: 15px;
}

#header {
margin-left: 16px;
width: 100%;
}

h1,h2,h3 {
    font-family: Della Respira;
}

h2 {
    font-size: 24px;
}

#content {
    width: 100%;
}

p {
    line-height: 150%;
}
a {
    text-decoration: none;
}

#map_canvas {
    width: 100%;
    height: 600px;
    padding: 0;
    margin-left: 16px;
}
#venue_detail {
    width: 47%;
    margin-left: 16px
}
#review {
    clear:left;
    padding-top: 22px;
    margin-right: 5%;
}
#ratings {
    padding-top: 22px;
}
.rating_item {
    clear: left;
}
.rating_label {
    margin-top: 12px;
    padding-left: 12px;
    float: left;
    font-size: 10pt;
}

/****** Style Rating Widget, based on http://codepen.io/jamesbarnett/pen/vlpkh *****/
@font-face {
	font-family: 'GoingOut';
	src:url('fonts/GoingOut.ttf') format('truetype')
}
fieldset, label { margin: 0; padding: 0; }
.rating {
  border: none;
  float: left;
}
.rating > input { display: none; }
.rating > label:before {
  margin: 7px;
  font-size: 2.2em;
  font-family: GoingOut;
  display: inline-block;
}
.rating > label.food:before {
  content: "F";
  }
.rating > label.beer:before {
  content: "B";
}
.rating > label.wine:before {
  content: "W";
}
.rating > label.value:before {
  content: "V";
}
.rating > label.service:before {
  content: "S";
}

.rating > label.half:before {
  position: absolute;
}
.rating > label.half.food:before {
  content: "f";
}
.rating > label.half.beer:before {
  content: "b";
}
.rating > label.half.wine:before {
  content: "w";
}
.rating > label.half.service:before {
  content: "s";
}
.rating > label.half.value:before {
  content: "v";
}
.rating > label {
  color: #eee;
  float: right;
}
.rating > input:checked ~ label.food { color: #FC7E1F; }
.rating > input:checked ~ label.beer { color: #080; }
.rating > input:checked ~ label.wine { color: #a7194b; }
.rating > input:checked ~ label.service { color: black; }
.rating > input:checked ~ label.value { color: #F8D915; }

@media all and (max-width: 770px) {
    #map_canvas {
        float: none;
        width: auto;
        height: 400px;
    }
    #venue_detail {
        width: auto;
    }
}